<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @offer.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @offer.description %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @offer.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @offer.email %>
</p>

<p>
  <strong>Country:</strong>
  <%= @offer.country %>
</p>

<p>
  <strong>Location:</strong>
  <%= @offer.location %>
</p>

<p>
  <strong>Meals:</strong>
  <%= @offer.meals %>
</p>

<p>
  <strong>Price:</strong>
  <%= @offer.price %>
</p>

<p>
  <strong>Stars:</strong>
  <%= @offer.stars %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @offer.rating %>
</p>

<p>
  <strong>Cleaning:</strong>
  <%= @offer.cleaning %>
</p>

<p>
  <strong>Food:</strong>
  <%= @offer.food %>
</p>

<p>
  <strong>Staff:</strong>
  <%= @offer.staff %>
</p>

<p>
  <strong>Confort:</strong>
  <%= @offer.confort %>
</p>

<p>
  <strong>Host name:</strong>
  <%= @offer.host_name %>
</p>

<p>
  <strong>Minimum stay:</strong>
  <%= @offer.minimum_stay %>
</p>

<%= link_to 'Edit', edit_offer_path(@offer) %> |
<%= link_to 'Back', offers_path %>
